<!DOCTYPE html>
<html>
  <head>
    <title>VenueMenu</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="flash notice"> <%= notice %> </p>
    <p class="flash alert"> <%= alert %> </p>

    <%= yield %>
  </body>
</html>
